body {
  margin-top: 5%;
  background-color: #3d413d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body main {
  -webkit-box-flex: 70%;
      -ms-flex: 70%;
          flex: 70%;
}

body .speak {
  font-size: 3rem;
  color: white;
  cursor: pointer;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

body .speak:hover {
  color: #ff751a !important;
}

body .word {
  text-align: center;
  font-family: Google Sans, arial, sans-serif;
  font-size: 500%;
  color: #ee0a37;
  text-shadow: 5px 1px 10px #525050;
  margin: 1% 0 2% 0;
}

body .mean {
  text-align: center;
  font-family: sans-serif;
  font-size: 200%;
  color: #31a7d6;
  text-shadow: 2px 1px 5px #5852af94;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.buttons .next,
.buttons .show,
.buttons .prev,
.buttons .start {
  border-width: 1px;
  margin: 1.5rem;
  font-size: 1.8rem;
  border-radius: 15px;
  padding: 1%;
  color: white;
  cursor: pointer;
}

.buttons .next,
.buttons .prev {
  background-color: #4400ff;
  border: 0px;
  -webkit-transition: -webkit-transform 0.7s ease;
  transition: -webkit-transform 0.7s ease;
  transition: transform 0.7s ease;
  transition: transform 0.7s ease, -webkit-transform 0.7s ease;
}

.buttons .next:hover,
.buttons .prev:hover {
  background-color: rgba(68, 0, 255, 0.904);
  color: rgba(255, 255, 255, 0.918);
  -webkit-transform: rotateZ(360deg) rotateX(360deg);
          transform: rotateZ(360deg) rotateX(360deg);
}

.buttons .show:hover {
  -webkit-transform: rotateZ(360deg) rotateY(360deg);
          transform: rotateZ(360deg) rotateY(360deg);
}

.buttons .start {
  background-color: indigo;
  -webkit-box-shadow: 0px 8px #afabab;
          box-shadow: 0px 8px #afabab;
  border-radius: 15px;
  font-size: 5rem;
  padding: 5%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
}

.buttons .start:hover {
  background-color: #3e8e41;
  -webkit-box-shadow: 0 5px #666;
          box-shadow: 0 5px #666;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.buttons .show {
  background-color: #ebd40d;
  -webkit-box-shadow: 1px 2px 10px #585757;
          box-shadow: 1px 2px 10px #585757;
  border: 0px;
  -webkit-transition: -webkit-transform 1s ease-in-out;
  transition: -webkit-transform 1s ease-in-out;
  transition: transform 1s ease-in-out;
  transition: transform 1s ease-in-out, -webkit-transform 1s ease-in-out;
}

.foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.foot .done {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-size: 2rem;
  font-family: "Rubik", sans-serif;
  color: rgba(172, 255, 47, 0.883);
  text-align: center;
}

@-webkit-keyframes animword {
  0% {
    font-size: 0px;
  }
  100% {
    font-size: 500%;
  }
}

@keyframes animword {
  0% {
    font-size: 0px;
  }
  100% {
    font-size: 500%;
  }
}

@-webkit-keyframes animspeakfor {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes animspeakfor {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes animspeakback {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@keyframes animspeakback {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}

@-webkit-keyframes showgone {
  0% {
    border-width: 1px;
    margin: 1.5rem;
    padding: 1%;
    font-size: 1.8rem;
    color: white;
    opacity: 1;
  }
  100% {
    border-width: 0px;
    margin: 0rem;
    padding: 0%;
    font-size: 0rem;
    color: #ebd40d;
    opacity: 0;
  }
}

@keyframes showgone {
  0% {
    border-width: 1px;
    margin: 1.5rem;
    padding: 1%;
    font-size: 1.8rem;
    color: white;
    opacity: 1;
  }
  100% {
    border-width: 0px;
    margin: 0rem;
    padding: 0%;
    font-size: 0rem;
    color: #ebd40d;
    opacity: 0;
  }
}

@-webkit-keyframes showcame {
  0% {
    border-width: 0px;
    margin: 0rem;
    padding: 0%;
    font-size: 0rem;
    color: rgba(255, 255, 255, 0);
    opacity: 0;
  }
  100% {
    border-width: 1px;
    margin: 1.5rem;
    padding: 1%;
    font-size: 1.8rem;
    color: white;
    opacity: 1;
  }
}

@keyframes showcame {
  0% {
    border-width: 0px;
    margin: 0rem;
    padding: 0%;
    font-size: 0rem;
    color: rgba(255, 255, 255, 0);
    opacity: 0;
  }
  100% {
    border-width: 1px;
    margin: 1.5rem;
    padding: 1%;
    font-size: 1.8rem;
    color: white;
    opacity: 1;
  }
}

@-webkit-keyframes animmean {
  0% {
    font-size: 0%;
  }
  100% {
    font-size: 200%;
  }
}

@keyframes animmean {
  0% {
    font-size: 0%;
  }
  100% {
    font-size: 200%;
  }
}

@media (max-device-width: 480px) {
  body {
    margin-top: 2.5rem;
  }
  @-webkit-keyframes animword {
    0% {
      font-size: 0px;
    }
    100% {
      font-size: 40px;
    }
  }
  @keyframes animword {
    0% {
      font-size: 0px;
    }
    100% {
      font-size: 40px;
    }
  }
  @-webkit-keyframes animmean {
    0% {
      font-size: 0;
    }
    100% {
      font-size: 25px;
    }
  }
  @keyframes animmean {
    0% {
      font-size: 0;
    }
    100% {
      font-size: 25px;
    }
  }
  body .main .speak {
    font-size: 25px;
  }
  body .word {
    font-size: 40px;
  }
  body .mean {
    font-size: 25px;
  }
  body main .flagdiv .flag {
    width: 10%;
    height: auto;
  }
  body .buttons .prev,
  body .buttons .show,
  body .buttons .next {
    font-size: 25px;
    padding: 15px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .foot .done {
    font-size: 20px;
  }
  body side .marked-words {
    font-size: 20px;
  }
}

.flagdiv {
  margin: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flagdiv .flag {
  width: 50px;
  height: auto;
  -webkit-transition: -webkit-filter 1.5s ease;
  transition: -webkit-filter 1.5s ease;
  transition: filter 1.5s ease;
  transition: filter 1.5s ease, -webkit-filter 1.5s ease;
  -webkit-filter: invert(88%) sepia(85%) saturate(2%) hue-rotate(284deg) brightness(111%) contrast(100%);
          filter: invert(88%) sepia(85%) saturate(2%) hue-rotate(284deg) brightness(111%) contrast(100%);
}

.flagdiv .flag:hover {
  -webkit-filter: invert(39%) sepia(77%) saturate(1926%) hue-rotate(1deg) brightness(103%) contrast(105%);
          filter: invert(39%) sepia(77%) saturate(1926%) hue-rotate(1deg) brightness(103%) contrast(105%);
}

@-webkit-keyframes span {
  0% {
    color: #3d413d;
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: #d4d812;
  }
}

@keyframes span {
  0% {
    color: #3d413d;
    opacity: 0;
  }
  100% {
    opacity: 1;
    color: #d4d812;
  }
}

side {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
}

side .marked-words {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.8rem;
  font-weight: bold;
  text-shadow: 1px 1px 15px #626262;
  color: #d4d812;
}
/*# sourceMappingURL=style.css.map */